<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipzz: A Two Player Game</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/game.css">
</head>

<body bgcolor = "lightblue">
   
    <main>

        <section id="top">
            <div id="logo">
                <span id="F" class="chip"> </span>
                <span id="L" class="chip"> </span>
                <span id="I" class="chip"> </span>
                <span id="P" class="chip"> </span>
                <span id="darkZ" class="chip"> </span>
                <span id="lightZ" class="chip"> </span>
            </div>
        </section>

        <!-- TODO add points as innerHTML in flipzz.js -->
        <section id="left">
            <div id="you" class="points"></div>
            <div id="opponent" class="points"></div>
        </section>

        <section id="center-board">
            <table bgcolor = "lightyellow" border = "4" cellpadding = "5" cellspacing = "5">
                <% for (let i = 0; i < 8; i++) { %>
                    <tr>
                        <% for(let j = 0; j < 8; j++) { %>
                            <td> 
                                <div class="chip" data-pos=<%= (i*8)+j %>> </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </section>

        <!-- TODO add time passed and status as innerHTML in flipzz.js -->
        <section id="right">
            <div id="status">
                <p id="turn"> work </p>
                <p id="score-dark"> 2 </p>
                <p id="score-light"> 2 </p>
            </div>
            <div id="time-passed"></div>
        </section>
       

    </main>

    <!-- module is needed for imports -->
    <script type="module" src="js/game.js"></script>
</body>


</html>