<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flipzz: A Two Player Game</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/game.css">
</head>



<body>
    <header>
        <section id="top">
            <div id="logo">
                <a href="./">
                    <img src="/assets/logo_cropped.webp" alt="Logo">
                </a>
            </div>
        </section>
    </header>

    <main>
        <!-- TODO add points as innerHTML in flipzz.js (Sent by gameHandler) -->
        <section id="left">
            <!-- TODO add correct bg class -->
            <div id="you" class="points lightbg">
                <span class="points"> You </span>
                <span id="points-you"> 5 </span>
            </div>
            <div id="opponent" class="points darkbg">
                <span class="points"> Opponent </span>
                <span id="points-opponent"> 2 </span>
            </div>
        </section>

        <section id="center">
            <div id="board-wrapper">
                <div id="board">
                    <!-- Scriplet tags to embed JS in HTML-->
                    <% for (let i = 0; i < 8; i++) { %>
                        <% for(let j = 0; j < 8; j++) { %>
                            <div class="chip" data-pos=<%= (i*8)+j %>> 
                                <div></div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
        </section>

        <!-- TODO add time passed (game.js) and status as innerHTML (gameHandler sends to flipzz.js) -->
        <section id="right">
            <div id="status">
                <p id="turn"> Turn:  </p>
                <p id="message"> Still waiting for second player to join the game... </p>
            </div>
            <div id="clock">
                <p id="time-passed"> Time passed since game started: 0:00 </p>
            </div>
        </section>
       

    </main>

    <!-- module is needed for imports -->
    <script src="/js/game.js"></script>
    <script src="/js/util/config.js"></script>
    <script src="/js/util/position.js"></script>
    <script src="/js/util/board.js"></script>
    <script src="/js/util/flipzz.js" ></script>
</body>


</html>