:root {
    --bgColor: lightblue;
    --tableColor: bisque;
    --popupColor: whitesmoke;
    --chip-dark: #AB48E9;
    --chip-light: #C694E9;
}

* {
    margin: 0;
    padding: 0;
}

html, main, header, body {
    max-width: 100vw;
}

.darkbg {
    background-color: var(--chip-dark);
}

.lightbg {
    background-color: var(--chip-light);
}

/* HEADER */
section#top {
    width: 100vw;
    position: relative;
}

#logo {
    padding: 25px;
    padding-top: 35px;
    text-align: center;
    left: 50%
}

#logo img {
    max-width: 100vw;
    max-height: 10vh;
}

/* BODY */
body {
    background-color: var(--bgColor);
}


/* UTILITY */
.hidden {
    display: none;
}