
/* this pseudo-class refers to HTML element: global CSS variables to easily change properties (can be accessed by all DOM elements */
:root {
    --bgColor: lightblue;
    --popupColor: whitesmoke;
    --darkColor: #AB48E9;
    --lightColor: #C694E9;
    --activeBorderColor: white;
    --visitedColor: gray;
}



/* MEDIA QUERY: alert is added in index.js and game.js */
    /* Increase the global font size smaller than 320px
       for better readability */
@media (max-width: 320px) {
  body {
    font-size: 130%;
  }
}
  

/* selects all */
  * {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html, main, header, body {
    /* 100/100 of viewports width and height occupied */
    max-width: 100vw;
    max-height: 100vh;
    /* makes sure user sees ... when screen size is is not large enough */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* all buttons */
button {
    border: var(--borderThickness) dashed var(--darkColor);
    background-color: var(--lightColor);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

  
/* pseudo-classes indicate a state/type of the element */
button:hover {
    border: var(--borderThickness) var(--borderColor);
}

/* while it's clicked on */
button:active {
    border-color: var(--activeBorderColor);
}

button:visited {
    color: var(--visitedColor);
}


.darkbg {
    background-color: var(--darkColor) !important;
}

.lightbg {
    background-color: var(--lightColor) !important;
}

/* HEADER */
/* section#top {
    width: 100vw;
    position: relative;
} */

/* selects div */
#logo {
    padding: 25px;
    padding-top: 35px;
    text-align: center;
    left: 50%
}
/* 
selects image */
#logoimg {
    max-width: 100vw;
    max-height: 10vh;
}

@media only screen and (min-width: 950px) {
    #logoimg { transform: scale(1.4); }
}

/* BODY */
body {
    background-color: var(--bgColor);
}


/* UTILITY (pop-ups, play again button) */
.hidden {
    display: none;
}

.clickable {
    cursor: grab;
}