#center-board {
    margin: 2rem;
}

td.placeable {
    cursor: grab;
}

td > .chip.dark {
    background-color: lightpink;
}

td > .chip.light {
    background-color: indigo;
}

.chip {
    height: 3rem;
    width: 3rem;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.dark {
    background-image: url("../assets/dark.png");
}

.light {
    background-image: url("../assets/light.png");
}

