/* GAME STATUS */
#status {
    margin: 10px;
    background-color: var(--popupColor);
    padding: 10px;
    font-size: larger;
}

/* TABLE */
#center-board {
    margin: 2rem;
}

table {
    display: table;
    background-color: var(--tableColor);
    border-collapse: separate;
    border-spacing: 5px;
    border-width: 4px;
}

table, th, td {
    border: 1px solid lightslategrey;
}

td > .chip.dark {
    background-color: lightpink;
}

td > .chip.light {
    background-color: indigo;
}

/* CHIPS */
.chip {
    height: 3rem;
    width: 3rem;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.dark {
    background-image: url("../assets/dark.webp");
}

.light {
    background-image: url("../assets/light.webp");
}

.placeable {
    background-image: url("../assets/dark.webp");
    opacity: 0.3;
}

