#center-board {
    margin: 2rem;
}

td > .chip.dark {
    background-color: lightpink;
}

td > .chip.light {
    background-color: indigo;
}

.chip {
    height: 3rem;
    width: 3rem;
    padding: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.dark {
    background-image: url("../assets/dark.webp");
}

.light {
    background-image: url("../assets/light.webp");
}

.placeable {
    background-image: url("../assets/dark.webp");
    opacity: 0.3;
}

#status {
    margin: 10px;
    background-color: whitesmoke;
    padding: 10px;
    font-size: larger;
}
