
/* TODO display:grid (stats?)  */


main {
  display: flex;
  flex-flow: row wrap;  

  /* display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr, 2fr, 2fr, 2fr, 1fr; */

  /* center text vertically and horizontally within an element */
  justify-content: center;
  align-items: center;

}

/* animation-name */
@keyframes rotate {
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}


/* body {
  padding: 50px;
  font: 14px "Monoton";
} */


/* -------------------------------------------------------------------------- */
/*                                    LEFT                                    */
/* -------------------------------------------------------------------------- */

#left-chips {
  position: fixed;
  left: 10px;
  top: 10px;
  animation: rotate 3s linear infinite;
}


#left {
  /* flex: 1 1 auto; */
  position: relative;
}

/* Selects id of rules div */
#how-to-play {
  padding: 5px;
  margin: 2px;
  position: relative;       
  right: 250px;
  top: 160px;
  width: 20vw;
  /* for some reason it doesn't let me use var(--gameFont)?? */
  font: 15px monospace;
  border: var(--borderThickness) dashed var(--darkColor);
}

h3 {
  text-align: center;
}

/* 
the general button CSS rule can be found in base.css */
#rules-button {
  cursor: help;
  transform: scale(1);
  position: relative;
  top: 140px;
}

/* Selects board image div */
#board {
  margin: 0.5px;
  transform: scale(0.4);
  position: relative;
  right: 400px;
}



/* -------------------------------------------------------------------------- */
/*                                    CENTER                                  */
/* -------------------------------------------------------------------------- */

/* for the central elements, we used absolute positioning, to keep distance relative to viewport. (nearest absolutely positioned ancestor) */

/* Selects top logo: overwrites base.css */
#logo { 
  transform: scale(1.2);
  position: absolute;
  top: 10px;
  left: 40vw;
}


/* selects <h1> nested in <section> (description under logo) */
section h1 {
  padding: 2px;
  font: 30px 'monospace';
  text-align: center;
  /* it will use viewport as closest ancestor, if no parent positioned using absolute! */
  position: absolute;
  top: 150px;
  right: 25vw;
}

#play-button {
  transform: scale(1.6);
  position: absolute;
  left: 690px;
  top: 500px;
  font-size: larger;
}




/* -------------------------------------------------------------------------- */
/*                                    RIGHT                                   */
/* -------------------------------------------------------------------------- */


#right-chips {
  position: fixed;
  right: 10px;
  top: 10px;
  animation: rotate 3s linear infinite;
}

/* Selects div containing all 3 game stats */
#stats {
  padding: 2px;
  position: absolute;
  right: 15vw;
  bottom: 3vw;
}

/* Selects all 3 separate divs of game stats (class) */
.statistics {
  margin: 4px;
  padding: 10px;
  width: 25vw;
  height: 2vw;
  border-radius: 15px;
  justify-content: center;
  font-family: monospace;
  font-size: 1.4em;
  border: var(--borderThickness) solid black;
  }

  /* absolute positioning makes sense here, since pseudo-element ::after adds a child to the div, so distance relative to div (which is also abs positioned) */
.statistics::after {
  background-color: rgb(243, 227, 137);
  color: black;
  position: absolute;
  right: 15px;
  content: "as of now";
  font-size: smaller;
  padding-left: 2px;
  padding-right: 2px;
} 

#total-flipped {
  background: linear-gradient(fuchsia, pink, fuchsia);
}

#players-online {
  background: linear-gradient(aqua, pink, aqua);
}

#games-completed {
  background: linear-gradient(lightgreen, pink, lightgreen);
}


/* div: full rules text + hide button */
.pop-up {
  position: absolute;
  right: 20vw;
  top: 35vh;
  width: 30vw;
  height: 20vh;
  background-color: #33f594;
  box-shadow: 3px 3px 5px #555;
}
/* 
relative to absolutely positioned ancestor: div */
#hide-button {
  position: absolute;
  top: 120px;
  transform: scale(0.8);
}

/* 
relative to absolutely positioned ancestor: div */
.pop-up p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30vw;
}
